/*for everything*/
body {
    margin:10px;
}

h1 {
    text-decoration: none
}

/*for navigation bar*/
.Icon1{
    position:absolute;
    top:10px;
    right:87%;
    width:160px;
    height:40px;
}

.Icon2{
    position:absolute;
    top:30px;
    left:85%;
}

/*for home page*/
.Background{
    position:relative;
    text-align:center;
    color:white;
    height:400px;
    font-family: 'Charmonman',cursive;
}

.localCart{
    font-size:16px;
}

.main-title{
    position:absolute;
    top: 150px;
    color:black;
    font-size:80px;
    font-family: 'Charmonman', cursive;
    text-decoration:none;
    padding-left:17%;
    padding-right:15%;
    }

/*to make the nav bar horizontal*/
ul {
    list-style-type:none;
    overflow: hidden;
    background-color: #000000;
    font-family:'Open Sans Condensed', sans-serif;
    font-size:20px;
    text-align: center;
}

li {
    float: left;
    padding-left:3%;
    padding-right:3%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom:15px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

/* Start of new page for product offerings*/
.Row1 {
  display:flex;
  margin-top:20px;
  margin-left:10px;
  margin-right:10px;
}

/*all the product offerings as cards*/
.card1 {
  flex: 33.33%;
  padding:5px;
  font-family:'Open Sans Condensed', sans-serif;
  font-size:20px;
}

.card2{
  flex:33.33%;
  padding:5px;
  font-family:'Open Sans Condensed', sans-serif;
  font-size:20px;
}

.card3{
    flex:33.33%;
    padding:5px;
    font-family:'Open Sans Condensed', sans-serif;
    font-size:20px;
}

.Row2{
  display:flex;
  margin-left:10px;
  margin-right:10px;
}

.card4{
  flex:33.33%;
  padding:5px;
  font-family:'Open Sans Condensed', sans-serif;
  font-size:20px;
}

.card5{
  flex:33.33%;
  padding:5px;
  font-family:'Open Sans Condensed', sans-serif;
  font-size:20px;
}

.card6{
  flex:33.33%;
  padding:5px;
  font-family:'Open Sans Condensed', sans-serif;
  font-size:20px;
}

.container{
  margin-top:-20px;
  text-align:center;
}

/*product_details_page*/
.Description{
    text-align:center;
    position:absolute;
    top:30%;
    right:10%;
    left:60%;
    font-family:'Open Sans Condensed',sans-serif;
    font-size:23px;
}

/*images of the product*/
.fullsize{
    width:400px;
    height:400px;
    position:absolute;
    top:20%;
    left:17%;
}
.roundview{
    width:100px;
    height:400px;
    position:absolute;
    top:20%;
    padding-left:3%
}
.Buttons{
    margin-top:240px;
    text-align: right;
    font-family:'Open Sans Condensed',sans-serif;
    position:absolute;
    right:15%;
    font-size:20px;

}
.AddCart{
    margin-top:430px;
    position:absolute;
    right:10%;
    text-align:right;
    font-family:'Open Sans Condensed',sans-serif;
}

/*extra credit page*/
.views{
    width:500px;
    height:400px;
    position:absolute;
    top:20%;
    padding-left:5%;
}

/*buttons for the cards*/
#number{
  color:white;
  position:absolute;
  right:120px;
  top:45px;
}

#rolling{
  color:white;
}

#NumRolls{
  position:absolute;
  right:180px;
  bottom:140px;
}

#quantity{
  position:absolute;
  right:220px;
  bottom:130px;
}

#glazing{
  position:absolute;
  bottom:180px;
  right:180px;
}

#GlazeType{
  position:absolute;
  right:200px;
  bottom:185px;
  text-align:center;
}

.AddCart{
  position:absolute;
  bottom:40px;
  right:160px;
}

.Description{
  position:absolute;
  text-align:center;
  right:300px;
}

